# Clean Datasets With Python
Author: Scottie Housholder  
Course: MAT 311  
Updated: November 16, 2025#TODO:

# Load Necessary Libraries

In [2]:
#Working with the data
import pandas as pd

# For visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Load The Data

In [3]:
#Load the data
#TODO: This will be turned into a function for main.py when I get there
test_data = pd.read_csv("../data/raw/test.csv")
train_data = pd.read_csv("../data/raw/train.csv")

### View The Data

In [14]:
#View train_data
print("Train data:")
train_data.head(1)

Train data:

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Customer Status,Last Due Date,Last Payment Date,Churn
0,321685,47,Male,52.0,9,4,10.0,Basic,Quarterly,738.64,NaN,active,06-28,07-08,0

In [13]:
#View test_data
print("Test data:")
test_data.head(1)

Test data:

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Customer Status,Last Due Date,Last Payment Date
0,146773,43,Male,25.0,28,9,18,Standard,Monthly,809.0,7.0,active,06-30,07-18

In [12]:
#Make columns in test_data be in the same order as those in train_data
test_data = test_data[['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 
       'Customer Status', 'Last Due Date', 'Last Payment Date']]
print("Reordered test data:")
test_data.head(1)

Reordered test data:

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Customer Status,Last Due Date,Last Payment Date
0,146773,43,Male,25.0,28,9,18,Standard,Monthly,809.0,7.0,active,06-30,07-18

In [20]:
#Test if columns are in the same order
assert(list(train_data.columns) == list(train_data.columns))